# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Google Cloud Credentials
vertex-*.json
vertex-488906-b07b17471ded.json

# Secrets and Credentials
!package.json
!nest-cli.json
!tsconfig*.json
vertex-*.json
